azure==4.0.0
azure-common==1.1.16
azure-mgmt==4.0.0
azure-mgmt-common==0.20.0
azure-mgmt-compute==4.3.1
azure-mgmt-network==2.3.0
azure-mgmt-nspkg==3.0.2
azure-mgmt-resource==2.0.0
azure-mgmt-storage==3.1.0
azure-nspkg==3.0.2
azure-servicebus==0.21.1
azure-servicemanagement-legacy==0.20.6
azure-storage==0.36.0
click==7.0
Flask==1.0.2
futures==3.1.1
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
python-dateutil==2.7.5
requests==2.20.1
six==1.11.0
Werkzeug==0.14.1
